<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/product/<%= product.id%>/edit?_method=PUT" method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" name="title" id="" value="<%= product.title%>">
        </div>
        <%if(product.image.includes('http')){%>
            <img src="<%= product.image %>" alt="img" width="300px" height="300px">
        <%}else{%>
            <img src="/img/products/<%= product.image %>" alt="img" width="300px" height="300px">
        <%}%>
        <div>
            <label for="">Price</label>
            <input type="text" name="price" id="" value="<%= product.price%>">
        </div>
        <div>
            <label for="">Description</label>
            <input type="text" name="description" id="" value="<%= product.description%>">
        </div>
        
        <button type="submit">Confirm</button>
    </form>
</body>
</html>