<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Products</title>
</head>
<body>
    <h2>All Products</h2>
    <% for(let i=0; i < allProducts.length; i++){%>
        <div class="products_container">
            <h3>Title: <%= allProducts[i].title %></h3>
            <%if(allProducts[i].image.includes('http')){%>
                <img src="<%= allProducts[i].image %>" alt="img" width="300px" height="300px">
            <%}else{%>
                <img src="/img/products/<%= allProducts[i].image %>" alt="img" width="300px" height="300px">
            <%}%>
            <p>Price: <%= allProducts[i].price %></p>
            <p>Description:</p>
            <p><%= allProducts[i].description %></p>
            <form action="/product/delete/<%= allProducts[i].id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    <%}%>
</body>
</html>